<launch>
    
    <!-- PS3 joy node -->
    <node respawn="true" pkg="joy"
          type="joy_node" name="joy" >
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="deadzone" value="0.00" />
    </node>

    <!-- behavioural state machine -->
    <node name="Hp1" pkg="hp1" type="Hp1" />
    
    <!-- input controller -->
    <node name="Input" pkg="hp1" type="Input" />

    <!-- legs -->
    <node name="Legs" pkg="hp1" type="Legs" />

    <!-- object tracking -->
    <node name="Vision" pkg="hp1" type="Vision" />

    <!-- pan/tilt -->
    <node name="Head" pkg="hp1" type="Head" />
</launch>
