<launch>
 	<rosparam file="$(find hp1)/robots/hp1.yml" command="load"/>
	
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find hp1)/robots/hp1.xacro'" />
    
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
        
	<node name="Joint_Publisher" pkg="hp1" type="Joint_Publisher" />
</launch>

